[submodule "ezlinks"]
	path = ezlinks
	url = https://github.com/xharris/ezlinks.git
[submodule "Airtest"]
	path = Airtest
	url = https://github.com/AirtestProject/Airtest.git
[submodule "Automagica"]
	path = Automagica
	url = https://github.com/OakwoodAI/Automagica.git
[submodule "gui-inspect-tool"]
	path = gui-inspect-tool
	url = https://github.com/blackrosezy/gui-inspect-tool.git
