airtest==1.1.1
certifi==2019.11.28
chardet==3.0.4
comtypes==1.1.7
decorator==4.4.1
facebook-wda==0.2.1
idna==2.8
Jinja2==2.10.3
MarkupSafe==1.1.1
MouseInfo==0.1.2
mss==4.0.3
networkx==2.4
numpy==1.18.0
opencv-contrib-python==3.4.2.17
opencv-python==4.1.2.30
Pillow==8.2.0
PyAutoGUI==0.9.48
PyGetWindow==0.0.8
PyMsgBox==1.0.7
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.25
PyTweening==1.0.3
pywin32==227
pywin32-ctypes==0.2.0
pywinauto==0.6.3
requests==2.22.0
six==1.13.0
treelib==1.5.5
urllib3==1.25.7
win32core==221.36
win32gui==221.6
winregistry==0.8.3
