absl-py==0.8.1
altgraph==0.16.1
astor==0.8.0
atomicwrites==1.3.0
attrs==19.3.0
beautifulsoup4==4.5.3
bs4==0.0.1
cachetools==3.1.1
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.1
comtypes==1.1.7
cycler==0.10.0
et-xmlfile==1.0.1
fake-useragent==0.1.11
future==0.18.2
gast==0.2.2
google-auth==1.7.1
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.25.0
h5py==2.10.0
idna==2.6
importlib-metadata==0.23
jdcal==1.4.1
joblib==0.14.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.2
more-itertools==7.2.0
ntplib==0.3.3
numpy==1.17.4
oauthlib==3.1.0
opencv-python==4.1.2.30
openpyxl==3.0.2
opt-einsum==3.1.0
packaging==19.2
pefile==2019.4.18
Pillow==6.2.1
pluggy==0.13.1
protobuf==3.11.0
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
PyGetWindow==0.0.8
PyInstaller==3.5
pyparsing==2.4.5
PyRect==0.1.4
pytest==5.3.1
python-dateutil==2.8.1
pywin32==227
pywin32-ctypes==0.2.0
pywinauto==0.6.8
PyYAML==5.2
requests==2.18.4
requests-oauthlib==1.3.0
rsa==4.0
scikit-learn==0.22
scipy==1.4.1
selenium==3.11.0
six==1.13.0
sklearn==0.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
tksheet==2.9
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.16.0
win32core==221.36
win32gui==221.6
wrapcache==1.0.8
wrapt==1.11.2
zipp==0.6.0
